@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Lobster+Two:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ============================nav styles============================  */
a{
    text-decoration: none;
}
.navbar {
    position: sticky;
    left: 0;
    right: 0;
    padding: 1.5rem 3rem;
    background-color: whitesmoke;
    z-index: 99;
}
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.082);
    z-index: 99;

}
.toggle {
display: none;
align-items: center;
cursor: pointer;
}
.toggle i {
    color: black;
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
    font-size: 1.2rem;
}
.toggle i:hover {
transform: rotate(180deg);
}

.navbar-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links {
    display: flex;
    gap: .3rem;
}
.navbar-links a {
    color: black;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    transition: all .3s step-end;
}
.logo a {
font-family: Matura MT Script Capitals; 
font-size: 1.5rem;
}

.navbar-links a:hover {
   color: blue;
}
.navbar-links a.active-links {
    color: blue;
    /* text-decoration: double; */
}
.donate-btn a {
background-image: linear-gradient(to right, hwb(243 4% 53% / 0.726) , hwb(195 2% 49% / 0.726));
padding: .7rem 1.2rem;
color: #fff;
border-radius: 5px;
}
.donate-btn a:hover {
background-image: linear-gradient(to right, hwb(243 0% 77% / 0.726) , hwb(196 0% 68% / 0.726));
}
/* ============================end of nav styles============================  */

body {
    background: url(../img/cool-backgroundwhite.png);
    height: 100vh;
}
.home_banner_text {
   width: 70vw;
   margin: 5rem auto;

}
.home_banner_text h1 {
   text-align: center;
   color: black;
   font-weight: 900;
   font-size: 2.7rem;
   margin-bottom: 1rem;
}
.home_banner_text p {
   text-align: center;
   color: black;
   font-size: 1.75rem;
   margin-bottom: 3rem;
   word-spacing: 3px;
}
.home_banner_text a {
display: flex;
align-items: center;justify-content: center;
margin: 1.5rem auto;width: 15rem;
font-size: 1.2rem;text-align: center;
 background-image: linear-gradient(to right, hwb(243 4% 53% / 0.726) , hwb(195 2% 49% / 0.726));
 color: aliceblue;padding: 1rem;
 cursor: pointer;border: none;
 border-radius: 8px;
}
.home_banner_text a:hover {
background-image: linear-gradient(to right, hwb(243 0% 77% / 0.726) , hwb(196 0% 68% / 0.726));   
}
/* ============================end of homepage slider styles============================  */

 
/* ============================overlay============================  */
.navbar-overlay{
    position: fixed;
    top: 0; right: 0;
    width: 100%;height: 100%;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgba(121, 119, 118, 0.5);
    z-index: 99;
    visibility: hidden;
}
.navbar-details {
    position: fixed;
    top: 0;right: 0;
    width: 100%;height: 100%;
    z-index: 3;
    background-color: rgba(231, 226, 221);
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
}
/* ============================end overlay============================  */

.services{
    width: 90vw;
    margin: 4rem auto;
}
.title h1 {
text-align: center;
color: #082D57;
font-size: 1.6rem;
}
.title p {
    font-size: 1.2rem;
}
.program, .perk-container  {
    position: relative;
    width: 98vw;
}
.program-color-group {
    position: absolute;
    right: 0;
    top: 5rem;
}
.perk-container .program-color-group {
    position: absolute;
    right: 0;
    top: 21rem;
}
 .perk-color-group {
    position: absolute;
    left: 0;
    top: 0rem;
}
.program-color-group .color1{
    background-color: #046382;
    height: 7rem;width: 7rem;
    border-radius: 50% 0 50% 50%;
}
.program-color-group .color2 {
    background-color: #3D84B2;
    height: 7rem;width: 7rem;
    border-radius: 50% 0 0 50%;
}
  .perk-color-group .color1{
    background-color: #110B79;
    height: 7rem;width: 7rem;
}

 .perk-color-group .color2 {
    background-color: #F18701;
    height: 7rem;width: 7rem;
    border-radius: 50% 50% 0 0;
}
.program-color-group .color3, .perk-color-group .color3 {
    background-color: #110B79;
    height: 7rem;width: 7rem;
    /* border-radius: 50% 0 0 50%; */
}
.services_container{
    margin: 2rem auto;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.service-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 90vw;
    margin-bottom: 2rem;
}
.reviews {
    /* background-color: white; */
    padding: 1rem 2rem;
    /* box-shadow: 0 5px 5px black; */
}
.reviews p {
    text-align: justify;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.button-container button {
   border: none;
   background-color: transparent;
   border: 1px solid blue;
   padding: .7rem;
   border-radius: 100%;
}
.button-container button:hover {
   border: none;
   background-color: blue;
   padding: .7rem;
   border-radius: 100%;
}
.button-container button i {
  color: rgb(173, 173, 224);
}
.service-box:nth-child(2) {
    flex-wrap: wrap-reverse;
}
.service-img {
    width: 35vw;
    min-width: 22rem;
    display: flex;
    flex-wrap:wrap ;
}
.service-box img {
    width: 10rem;
}
.perk-box img {
    width: 20rem;
}
.service-text {
    width: 30vw;
    min-width: 22rem;
    background-color: #EBEFF6;
    padding: 1rem;
}
.service-text h2 {
    word-spacing: .2rem;
    margin-bottom: .6rem;
    color: #212121;
}
.service-text p {
    font-size: 1.25rem;
    color: #454545;
    margin-bottom: .5rem;
}
.service-text a {
    /* margin-top: 1.5rem; */
    color: #1464C2;
}
.service-text a img {
    width: .6rem;
}
.services .btn, .blog .btn {
    width: 10rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border: 2px solid #10488A;
    outline: none;
    background-color: transparent;
    border-radius: 3px;
}
.services .btn a, .blog .btn a {
    font-size: 1.05rem;
}

.expertise-container {
    width: 70vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    padding-bottom: 2rem;
}
.expertise-box {
    width: 18rem;
}
.expertise-box h2 {
    margin-bottom: 0.6rem;
    color: #212121;
}
.expertise-box img {
    width: 17rem;
    margin-bottom: 1.5rem;
}
.expertise-box p {
    text-align: justify;
    font-size: 1.1rem;
    color: #454545;
}

.wrapper {
    width: 100%;
    margin: 2rem 0;
}
.carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .card {
    padding: 2rem 1rem;
    text-align: center;
    margin: 20px 0;
    height: 20rem;
    border-radius: 7px;
    /* background-image: linear-gradient(to right, #110B79 , #046382); */
    background: url(../img/cool-backgroundblue.png);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.testimony-img {
    float: left;
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel .card img{
width: 2.5rem;
margin: 0 auto;
}
.carousel .card p{
margin-bottom: 1.5rem;
color: rgb(0, 0, 0);
text-align: justify;
}
.carousel .owl-dots {
    text-align: center;
    margin-top: 40px;
    width: 15rem;
    margin: 0 auto;
}
.carousel .owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    background-color: #BFD0E4 !important;
    /* border: 2px solid #0072bc !important; */
}
.carousel .owl-dot:hover, 
.owl-dot.active {
    background-color: #082D57 !important;
}


.blog {
    margin: 6rem 0;
}
.blog-container {
    width: 70vw;
    margin: 0 auto;
}
.blog-details {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #EBEFF6;
    padding: .5rem;
}
.blog-container img {
    width: 12rem;
}

.blog-details-text {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
.blog-details-text * {
    margin-bottom: 1.3rem;
}
.blog-details-text .fa-location-dot{
    color:darkslateblue ;
}
.blog-details-text p * {
    margin-right: 1.3rem;
}

.newletter-container {
    margin: 0 auto; width: 70vw;
    padding: 0;margin-bottom: 3.5rem;
    display: grid;justify-content: center;
    align-items: center;  height: 15rem;
    background-image: linear-gradient(to right, #110B79 , #046382);
    
}
.newletter-container p, .newletter-container h1 {
    color: white;
    text-align: center;
}
 .newletter-container h1 {
   margin-bottom: 1.5rem;
}
.search-container {
    display: flex;
    width: 50vw;
    min-width: 20rem;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
    flex: 1;
    border: none;
    padding: 15px;
    font-size: 16px;
    outline: none;
    background-color: rgb(121, 175, 245);
}

.search-button {
    background-color: #110B79;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.blogPost {
    margin: 4rem 0;
}
.postCardContainer {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.postCardContainer .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18rem;
    background-color: white;
  }
  
  /* On mouse-over, add a deeper shadow */
  .postCardContainer  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .postCardContainer  .card .container {
    padding: 2rem 16px;
  }
  .postCardContainer  .card .container * {
    padding-bottom: .5rem;
  }
  .postCardContainer .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  .postCardContainer .card img {
    border-radius: 5px 5px 0 0;
  }
  .mentorship {
    position: relative;
  }
  .mentorship-color-group1, 
   .mentorship-color-group1  {
    position: absolute;
   }
   .mentorship-color-group1 {
    top: -3rem;
   }
   /* .mentorship-color-group2 {
    top: 3rem;
    left: 8rem;
   } */
   .mentorship-color-group1 .color1,  .mentorship-color-group1 .color3 {
    background-color: #110B79;
    height: 5rem;width: 4rem;
   }
   .mentorship-color-group1 .color2 {
    background-color: #F18701;
    height: 5rem;width: 4rem;
    border-radius: 0 0 55% 0;
   }
   /* .mentorship-color-group2 .color2 {
    background-color: #F18701;
    height: 5rem;width: 4rem;
   }
   .mentorship-color-group2 .color3 {
    background-color: #046382;
    height: 5rem;width: 4rem;
    border-radius: 0 0 55% 0;
   } */

.mentorship-container {
    display: flex;
    justify-content: space-between; 
    padding: 2 3.5rem;
    background-color: skyblue;
    margin: 0 auto;
    width: 70vw;
    flex-wrap: wrap;
            align-items: center;
            justify-content: center;
    height: 16rem;
    margin-bottom: 3.5rem;
}
.mentor-text {
    width: 30vw;
    min-width: 50vw;
}
.mentor-text h1 {
 color: #110B79;
 margin-bottom: 1rem;
}
.mentor-text p {
 color: #110b79cb;
}
.mentor-btn a {
    color: #110B79;
    padding: .8rem 1.1rem;
    border: 1px solid #110b79cb;
    border-radius: 3px;
}

.contact {
    margin: 4rem auto;
}
.contact-details {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}
.contact-details form {
    display: grid;
    width: 30vw;
    min-width: 20rem;
}
.contact-details form * {
   margin-bottom: 1rem;
}
.contact-details form input, 
.contact-details form button {
   padding: .8rem;
}
.location iframe {
    width: 30vw;
    min-width: 20rem;
}
.contact-details textarea {
    padding: .5rem;
}
.contact-details button {
    background-color: #1464C2;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.footer {
    background-color: #110B79;
    color: white;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.footer a {
    color: white;
}
.teletech {
    width: 40vw;
    display: grid;
    /* justify-content: center; */
    align-items: center;
    row-gap: 3rem;
}
.teletech .footer-logo {
    margin-bottom: 1rem;
}
.teletech p {
    color: #CDD8E4;
}
.quick-links {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}
.quick-links a {
    color: #CDD8E4;
}
.get-intouch {
    font-size: 1.2rem;
    display: grid;
    gap: 0.5rem;
    color: #CDD8E4;
}
.social-links {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 2rem 0;
}
.service-vision {
    width: 28vw;
    min-width: 22rem;
    /* padding-left: 1rem;
    border-left: 4px solid #448ADC; */
  }
  .service-vision h2 {
    color: #082D57;
  }
  .service-vision p {
    font-size: 1.3rem;
    margin-top: 0.6rem;
    padding-left: 1rem;
    border-left: 4px solid #448ADC;
    color: #454545;
    /* border-left: 2px solid skyblue; */
  }
  .team-members {
    width: 85vw;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.team-member {
    position: relative;
    width: 15rem;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
    /* border-radius: 10px; */
}
.home-color1 {
    position: absolute;
    background-color: #6FC1C0;
    width: 5rem;height: 5rem;
    left: -4.8rem;
    bottom: .8rem;
}
.home-color2 {
    position: absolute;
    background-color: #F18701;
    width: 15rem;height: 3rem;  
    border-radius: 0 70% 0 0;
    bottom: .4rem;
}
.home-color3 {
    position: absolute;
    background-color: #3D348B;
    width: 15rem;height: 3rem;  
    /* border-radius: 0 70% 0 0; */
    bottom: .2rem;
    z-index: -2;
}
.home-color4 {
    position: absolute;
    background-color: #F7B801; 
    width: 4rem;height: 15rem; 
      border-radius: 100% 0 0% 100%;
    right: -5rem;
    top: 0;
}
.team-member img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}
.member-title {
    margin-top: 1rem;
}
.member-title, .member-info {
    padding: 0rem 1rem 1rem 1rem;
}
.member-title p {
    color: #454545;
}
.member-info p {
    color: #454545;
    font-size: 1.05rem;
    text-align: justify;
}
.about-mission-vision {
    margin: 0 auto;
    width: 35vw;
    min-width: 25rem;
    background-color: white;
    /* padding: 1rem; */
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(110, 110, 110, 0.493);
}
.about-tab .btn-container {
    margin: 0 auto;
    background-color: #EBEFF6;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.about-tab .tab-btn {
    margin: 0 auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1rem;
    color: rgb(82, 117, 126);
    /* margin-bottom: .5rem; */
    padding-bottom: .2rem;
}
.about-content {
    padding: 2rem 1rem;
}
.about-content * {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.content-text {
    display: none;
}
.about-tab .tab-btn:hover:not(.active-tab){
    color: black;
    /* text-decoration: underline; */
    /* border-bottom: 2px solid black; */
    
}
.about-tab .tab-btn.active-tab {
    color: black;
    /* text-decoration: underline; */
    border-bottom: 2px solid black;
    
}
.content-text.active-tab {
    display: block;
}
.support {
    width: 70vw;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 }
 .empower, .opportunity {
    width: 30vw;
    min-width: 20rem;
    background-image: linear-gradient(to right, #110B79 , #046382);
    padding: 1.5rem 1rem;
 }
 .empower *, .opportunity * {
   margin-bottom: 2rem;
 }
 .support h2 {
    color: aliceblue;
 }
 .support p {
    color:rgb(241, 241, 241);
    /* margin-bottom: 1rem; */
 }
.support .supportLinks {
    display: grid;
    justify-content: center;
    align-items: center;
}
 .support button {
    margin: 1rem auto;
   background-color: aliceblue;
   padding: .8rem 1.0rem;
   width: 17rem;
   outline: none;
   border: none;
 }
 .support button a {
   font-size: 1.2rem;
 }
.career-container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    margin: 4rem auto;
    gap: 2rem;
}
.career-container .service-img h2 {
    color: #1464C2;
    margin-bottom: 2rem;
}
.career-container .service-img img {
     height: 20rem !important;
}
.career-details {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.career-box {
    width: 16.5rem;
}
.career-box * {
    padding-bottom: .4rem;
}
.career-box img {
    width: 3rem;
}


/* =========================application form======================= */
.application {
    position: fixed;
    top: 0; right: 0;
    width: 100%;height: 100%;
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: rgba(121, 119, 118, 0.5);
    z-index: 99;
    /* visibility: hidden; */
    transform: scaleX(0);
}
.application-show {
    transform: scaleX(1);
}
.application-form .form {
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 6rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.473);
}
.application-form .form h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: #082D57;
}
.application-form form input, .label {
    border-radius: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.116);
}
.label {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #454545;
    padding: 1rem;
}

.label p {
  font-size: .9rem;
  color: #454545;
}
.close-form i {
    display: flex;
    justify-content: flex-end;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all .4s;
    margin-bottom: .5rem;
}
/* =========================end of application form======================= */
/* ==========================media queries==================== */
@media (max-width:1100px) {
    .navbar-links {
        display: flex;
        gap: 1px;
    }
    .navbar-links a {
        font-size: .8;
        padding: .6rem .8rem;
    }
    
    .home_banner_text {
        width: 70vw;
     }
     .home_banner_text h1 {
        font-size: 2.5rem;
     }
     .home_banner_text p {
        font-size: 1.1rem;
     }
     .service-box img {
        width: 24rem;
    }
    .service-text {
        width: 32vw;
        min-width: 22rem;
    }
    
 }
 @media (max-width:1000px) {
    .navbar-links {
        display: none;
      }
      .overlay-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.7rem;
        margin-top: 1.5rem;
      }
      .overlay-links a {
        font-size: 1.4rem;
        color: black;
      }
      .toggle {
        display: flex;
      }
      .navbar-details {
        width: 40vw;
        min-width: 450px;
    }
    .close-nav i {
        font-size: 1.7rem;
        cursor: pointer;
        transition: all .4s;
    }
    .close-nav i:hover {
       transform: rotate(180deg);
    }
    .showNav {
        transform: translateX(0%);
    }
    .transparentBcg {
    visibility: visible;
    }
    .owl-dots { 
        top: 85%;
    }
  
  }

  

@media (max-width:768px) {
    .toggle {
        display: flex;
      }
  .navbar-links {
    display: none;
  }
  .toggle {
    display: flex;
  }
  .toggle .fa-bars{
   color: black;
  }
  .overlay-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
        margin-top: 1.5rem;
  }
  .overlay-links a {
    font-size: 1.35rem;
    color: black;
  }
  .toggle {
    display: block;
  }
  .navbar-details {
    width: 40vw;
    min-width: 450px;
}

.home_banner_text {
    width: 75vw;
 }
 .home_banner_text h1 {
    font-size: 2rem;
 }
 .home_banner_text p {
    font-size: 1.1rem;
 }
 .home_banner_text a {
    width: 12rem;
    font-size: 1rem;
     padding: .8rem;
    }
    .title h1 {
        font-size: 1.2rem;
    }
    .service-box img {
        width: 24rem;
    }
    .service-text {
        width: 40vw;
        min-width: 24rem;
    }
    .service-text p {
       font-size: 1rem;
    }
   
    .service-vision p {
        font-size: 1.25rem;
        border-left: none;
        padding-left: 0;
      }
      .service-vision {
        width: 28vw;
        min-width: 20rem;
        /* padding-left: 1rem;
        border-left: 4px solid #448ADC; */
      }
      .career-details {
        width: 80vw;
    }
    .officer {
        width: 19rem;
    }
    .question .apply-btn {
        width: 11rem;
        font-size: 1rem;
         padding: 0.90rem;
        }
        .blog-details-text {
            gap: 1.0rem;
        }
        /* .mentorship-container {
            height: 16rem;
        } */
        .program {
            /* position: relative; */
            width: 95vw;
        }
        .program-color-group {
            /* position: absolute; */
            right: 0;
            top: 15rem;
        }
        .color3,  .color2,  .color1 {
            /* background-color: #110B79; */
            height: 3rem;
            width: 3rem;
            /* border-radius: 50% 0 0 50%; */
        }
        /* .mentorship-color-group1 .color1, 
         .mentorship-color-group1 .color3,
         .mentorship-color-group1 .color2 {
            height: 3rem;width: 2rem;
           } */
           .team-member {
            position: relative;
            width: 10rem;
            /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
            /* border-radius: 10px; */
        }
        .home-color1 {
            width: 2.5rem;height: 3rem;
            left: -2.6rem;
        }
        .home-color2 {
            width: 10rem;height: 3rem;  
        }
        .home-color3 {
            
            width: 10rem;height: 3rem;  

        }
        .home-color4 {
        
            width: 3rem;height: 10rem; 
            right: -3rem;
            top: 0;
        }
}

@media (max-width:600px) {
    .toggle {
        display: flex;
      }
    .overlay-links {
        gap: 2.5rem;
        margin-top: 1.5rem;
      }
    .overlay-links a {
        color: black;
        font-size: 1.3rem;
    }
    .title h1 {
        font-size: 1rem; 
       }
    .navbar {
        position: sticky;
        left:0;
        right: 0;
        padding: 2rem 2rem;
        /* background-color: #1464C2; */
        z-index: 1;
    }
    .navbar-details {
        width: 30vw;
        min-width: 350px;
    }
    .owl-dots {
        width: 50vw;
        left: 23%;
    }
    .owl-dot {
        margin-left: .4rem;
    }
    .service-box img {
        width: 20rem;
    }
    .service-text {
        width: 20rem;
        min-width: 20rem;
    }
    .portfolio-img-1 img {
        width: 20rem;
    }
    .service-vision p {
        font-size: 1.2rem;
        border-left: none;
        padding-left: 0;
      }
      .questions {
        width: 85vw;
      }
      .officer {
        width: 18rem;
    }
    .question .apply-btn {
        width: 10rem;
        font-size: .95rem;
         padding: 0.85rem;
        }
        .about-mission-vision {
            width: 35vw;
            min-width: 20rem;
        }
        .mentor-text h1 {
            margin-bottom: .6rem;
            font-size: 1rem;
           }
           .mentor-text p {
            font-size: 1rem;
           }
    .search-container {
    width: 50vw;
    min-width: 17rem;
           }
           .search-input {
            width: 5rem;
           }
           .newletter-container h1 {
            font-size: 1.2rem;
         }
         .search-button {
            padding: 8px 12px;
            font-size: .85rem;
        }
        .program-color-group .color3,.perk-color-group .color3,
        .program-color-group .color2, .perk-color-group .color2,
         .program-color-group .color1, .perk-color-group .color1 {
            height: 4.0rem;
            width: 4.0rem;
            z-index: -99;
        }
        .mentorship-color-group1 .color1, 
        .mentorship-color-group1 .color3,
        .mentorship-color-group1 .color2 {
           height: 2rem;width: 1.8rem;
          }
          .team-member {
            position: relative;
            width: 10rem;
            /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
            /* border-radius: 10px; */
        }
        .home-color1 {
            width: 2.5rem;height: 3rem;
            left: -2.6rem;
        }
        .home-color2 {
            width: 10rem;height: 3rem;  
        }
        .home-color3 {  
            width: 10rem;height: 3rem;  
        }
        .home-color4 {
            width: 3rem;height: 10rem; 
            right: -3rem;
            top: 0;
        }
 }
 @media (max-width:400px) {
    .toggle {
        display: flex;
      }
    .navbar-details {
        width: 30vw;
        min-width: 300px;
    }
    .title h1 {
font-size: 1.1rem;
    }
    .service-text {
        width: 20rem;
        min-width: 18rem;
    }
    .service-text h2 {
        font-size: 1rem;
    }
    .service-text p {
        font-size: 1rem;
    }
    .portfolio-img-1 img,  .service-box img,  .service-text {
        width: 18rem;
    }
    .blog-container img,  .blog-details-text,  .contact-details form, .location iframe {
        min-width: 15rem;
    }
    .service-vision {
        width: 28vw;
        min-width: 18rem;
        /* padding-left: 1rem;
        border-left: 4px solid #448ADC; */
      }
      .service-vision p {
        font-size: 1.0rem;
      }
      .search-container {
        width: 50vw;
        min-width: 15.5rem;
               }
               .newletter-container h1 {
                font-size: 1.2rem;
             }
             .search-button {
                padding: 8px 12px;
                font-size: .85rem;
            }
         .color3, .color2,  .color1 {
                /* background-color: #110B79; */
                height: 1.85rem;
                width: 1.85rem;
                /* border-radius: 50% 0 0 50%; */
            }

  }

  @media (max-width:370px) {
.search-container {
        width: 50vw;
        min-width: 13.5rem;
               }
.blog-container img,  .blog-details-text,  .contact-details form, .location iframe {
                min-width: 13rem;
            }
            .carousel .card {
                height: 30rem;
                min-width: 15rem;
                width: 15rem;
            }
            .color-group .color3, .color-group .color2, .color-group .color1 {
                /* background-color: #110B79; */
                height: 1.55rem;
                width: 1.55rem;
                /* border-radius: 50% 0 0 50%; */
            }
.color1, .color3, .color2 {
 height: 1.75rem;width: 1.55rem;
              }
   }
  
  
  
   @media (max-width:300px) {
.search-container {
        width: 50vw;
        min-width: 11.5rem;
               }
.blog-container img,  .blog-details-text,  .contact-details form, .location iframe {
                min-width: 11rem;
            }
            .home_banner_text h1 {
                font-size: 1.5rem;
             }
             .home_banner_text p {
                text-align: center;
                color: black;
                font-size: 1.0rem;
                margin-bottom: 3rem;
                word-spacing: 3px;
             }
             .about-mission-vision {
                /* width: 20vw; */
                min-width: 16rem;
            }
            .service-img {
                width: 30vw;
                min-width: 15rem;
            }
            .service-img img,   .expertise-box img, .service-text{
                /* width: 30vw; */
                min-width: 15rem;
                width: 15rem;
            }
            .title p {
                font-size: .9rem;
            }
            .carousel .card {
                height: 30rem;
                min-width: 15rem;
                width: 15rem;
            }
   }